body {
    margin: 10px;
}

input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 3px;
}

input:focus {
    border: 1px solid blue;
}

input[type="text"] {
    width: 125px;
    margin-right: 5px;
    border: 1px solid lightgray;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}

img {
    display: none
}

textarea {
    width: 100%;
    height: 40%;
    border-color: lightgray;
}

.section {
    margin-left: 5px;
    border-bottom: 1px solid lightgray;
}

.section-item-prefix {
    margin-left: 35px;
}

b {
    font-size: medium;
    margin-right: 2px;
}

#encodedText {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 5px;
}

.badge {
    height: 100%;
    margin: 5px;
}

.bullet {
    color: gray;
    margin-right: 5px;
    margin-top: 5px;
    font-size: small;
}

.superscript {
    font-family: 'Courier New', Courier, monospace;
    vertical-align: super;
    color: gray;
    font-size: xx-small;
}

.subscript {
    font-family: 'Courier New', Courier, monospace;
    vertical-align: sub;
    color: blue;
    font-size: xx-small;
}

.transcript {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    margin-right: 10px;
}

div.transcript {
    margin: 10px;
    font-weight: bold;
    color: black;
}

.hint {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    margin-right: 10px;
}

.answer {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    margin-right: 10px;
}

.phonics {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    margin-right: 10px;
}

.error {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-weight: bold;
}